* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-weight: 100;
}
div > a {
    color: white;
    background: #333;
    padding: 8px 15px;
    padding-top: 6px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.2s;
}
div > a:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
div > a:active {
    transform: scale(0.95);
    opacity: 0.6;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEE;
}
footer > a {
    font-size: 14px;
    margin: 15px;
    text-decoration: none;
    color: #333;
}
footer > a.selected {
    font-weight: normal;
    color: #888;
    pointer-events: none;
}

.avatar {
    border-radius: 50%;
    margin-bottom: 10px;
}

.status {
    text-align: center;
    margin-top: 10px;
    color: #1f9d8e;
}