extends layout

block content
    div
        h1 Who are we?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque magnam doloribus fugiat enim quaerat nesciunt, provident dolores consequuntur at accusantium hic cumque accusamus magni optio, deleniti nostrum ipsa in? Corrupti.
