extends layout

block content
    div
        h1 Enter your username:
        input.username
        button.login Login
    main
        ul.messages

        form.send-message
            input(placeholder='Your message here')
            button Send

    link(rel="stylesheet", href="/stylesheets/chatroom.css")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src="/javascripts/chatroom.js")